body
{
    font-family: sans-serif;
    line-height: 150%;
}

h1
{
    margin-top: 50px;
}

h2
{
    margin-top: 25px;
}

img.center
{
    display: block;
    margin: auto;
    padding: 25px;
}

#title
{
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    background-image: url("title.png");
    min-height: 240px;
}

#body
{
    margin: 50px;
}

th
{
    font-weight: bold;
}

table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

td, th
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

th
{
    color: white;
    background-color: black;
    text-align: left;
}

td
{
    border: 1px solid gray;
    border-left: none;
    border-right: none;
}

.pink
{
    background-color: #ffcc99;
}

.blue
{
    background-color: #99ccff;
}

.green
{
    background-color: #ccff99;
}

audio
{
    display: block;
    margin: auto;
    padding: 25px;
}
